.main{
    margin-top: 3rem;
   
}
.icon{
    font-size: 1.6rem;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.title{
    margin-top: 1rem;
    color: gray;
}
.subtitle{
    font-weight: bolder;
    font-size: 1.7rem;
}
